$container-width: 1170px;
$min-width: 375px;

$size-primary: 18px;
$size-secondary: 22px;
$size-third: 30px;
$size-small: 15px;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-third: 'Source Sans Pro', sans-serif;